/******************************************************************************
 * TOP BAR
 ******************************************************************************/

.top-bar {

    -fx-background-color: white;

    -fx-border-color: #D6D6D6;

    -fx-border-width: 0 0 1 0;

}

/******************************************************************************
 * TÍTULO
 ******************************************************************************/

.top-bar-title {

    -fx-font-size: 18px;

    -fx-font-weight: bold;

    -fx-text-fill: #2B2B2B;

}

/******************************************************************************
 * VERSÃO
 ******************************************************************************/

.top-bar-version {

    -fx-font-size: 12px;

    -fx-text-fill: #666666;

}

/******************************************************************************
 * APP LOGO
 ******************************************************************************/

.app-logo-box {

    -fx-background-color: #2563EB;

    -fx-background-radius: 8;

    -fx-min-width: 34;

    -fx-min-height: 34;

    -fx-max-width: 34;

    -fx-max-height: 34;

}

.app-logo-text {

    -fx-font-size: 14px;

    -fx-font-weight: bold;

    -fx-text-fill: white;

}

.app-title {

    -fx-font-size: 18px;

    -fx-font-weight: bold;

    -fx-text-fill: #1F2937;

}